@model ElevenNote.Models.CategoryDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CategoryDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    <h4>Notes</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model.Notes)
        {

            <dt>@Html.DisplayNameFor(modelItem => item.NoteId)</dt>
            <dd>@Html.DisplayFor(modelItem => item.NoteId)</dd>
            <dt>@Html.DisplayNameFor(modelItem => item.Title)</dt>
            <dd>@Html.DisplayFor(modelItem => item.Title)</dd>
            <dd></dd>
            <dd>@Html.ActionLink("View Note", "Details", "Note", new { id = item.NoteId }, null)</dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
